.header {
    width: 100vw;
    min-height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: var(--themebgClr2);
    color: var(--themeClr2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.headerLink {
    color: var(--descriptionClr);
    transition: var(--transition);
}

.headerLink:hover,
.headerLink.active {
    color: var(--themeClr2);
}


@media (min-width:400px) and (max-width:600px) {
    .header {
        padding: 15px 5px;
    }

    .headerLink {
        font-size: 14px;
    }

    .title {
        font-size: 18px;
    }
}

@media (max-width:400px) {
    .header {
        padding: 15px 5px;
    }

    .headerLink {
        font-size: 12px;
    }

    .title {
        font-size: 14px;
    }

    .links {
        gap: 10px;
    }
}

@media (min-width:2300px) {
    .headerLink {
        font-size: 25px;
    }

    .title {
        font-size: 40px;
    }

    .links {
        gap: 30px;
    }
}