.container {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    gap: 50px;
}

.description {
    color: var(--descriptionClr);
    text-align: center;
    line-height: 25px;
}

.projects {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.project {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    padding-bottom: 20px;
    background-color: rgb(5, 0, 30);
    border-radius: 15px;
    overflow: hidden;
}

.projectImg {
    width: 100%;
    aspect-ratio: 2/1.2;
    background-color: wheat;
    height: unset;
}

.projectSkills {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    width: 100%;
    padding: 0 15px;
}

.skill {
    color: var(--themeClr2);
    background-color: #031c53;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 50px;
}

.projectName {
    font-size: 25px;
    color: var(--themeClr2);
    font-weight: bold;
    padding: 0 15px;
}

.projectDescription {
    color: var(--descriptionClr);
    line-height: 25px;
    font-size: 14px;
    padding: 0 15px;
}

.projectDetails {
    display: flex;
    gap: 30px;
    padding: 0 15px;
}

.link {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: var(--transition);
}

.link:hover {
    color: var(--themeClr2);
}